/* Font 1: font-family: 'Quicksand', sans-serif; //article para
	Font 2: font-family: 'Anton', sans-serif; //headings
	Font 3: font-family: 'Fredoka One', cursive; //navbar brand
*/


/* Designing Container as a page*/
.artic-sec
{
	margin-top: 2%;
}
.articpara
{
	text-align: justify;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 2em;
	
}
.paraimg
{
	display: none;
}
.sectcont
{
	
	margin-top: 3%;
	background-color: #fff;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.container
{
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.head
{
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 4em;
	background: url("images/header/andy - Copy.png");
	
	
}

.artcont h1
{
	color: #000;
	font-family: 'Anton', sans-serif;
}
.day i
{
	margin-right: 5px;
}

.day
{
	color: #000;
	font-size: 0.8em;
	
}
.andd{
	color: green;
}
.cat-android
{
	font-family: 'Quicksand', sans-serif;
}
.auth
{
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	margin-left: 5px;
	color: #ffbf00;
}
.articpara
{
	font-size: 1.3rem;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 1px;
}





/*more articles*/
.bl-cont
{
	padding: 10px;
}
.more_art
{
	padding-top: 0 !important;
	padding-bottom: 4rem;
}
.more_art h1{
	font-family: 'Anton', sans-serif; 
	font-size: 2em;
}
.bl-cont a
{
	color: #000;
	text-decoration: none;
	transition: color 0.27s;
}
.bl-cont a:hover
{
	color: #33B5F4;
	transition: color 0.27s;
	text-decoration: none;
}
.bl-cont h2
{
	font-family: 'Anton', sans-serif; 
	font-size: 1.7em;
}



/* Media Query for screen size 720 and below*/
@media only screen and (max-width: 720px) {
    
	
	.articpara p
	{
		font-size: 0.7em;
	}
	.articpara
	{
		text-align: justify;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 3.7rem;
		
	}
	.head
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 4em;
	}
	.day
	{
		font-size: 0.7em;
	}
	.auth
	{
		font-size: 0.7em;
		
	}
	.paraimg
	{
		display: contents;
		margin-bottom: 20px;
	}
	.wri{
		padding-top: 10px;
	}
	.widget-area
	{
		padding-left: 2em;
		padding-right: 2em;
		padding-bottom: 2em;
	}
}
