/* Progress Bar*/
.progress-container {
  position: fixed;
  width: 100%;
  height: 5px;
	background: rgba(0, 0, 0, 0.2)
}

.progress-bar {
	position: fixed;
  height: 5px;
  background: #33B5F4;
  width: 0%;
}


/* Navbar*/
.navbar {
	background-color: #fff;
    transition: all 0.4s;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: #555;
	font-size: 0.8em;
}
.navbar-brand 
{	color: #ffbf00 !important;
	padding-right: 5px;
}
.navbar-brand:hover
{
	color: #33B5F4 !important;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color:#33B5F4;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
	font-family: 'Fredoka One', cursive;
	font-size: 1.5em;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
	
    color: #555;
	transition: color 0.27s;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #33B5F4;
    text-decoration: none;
	transition: color 0.27s;
}

.navbar.active .navbar-brand {
    color: #555;
}

.active
{
	background-color: #33B5F4;
	top: 3px;
	
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}







/* Footer*/
footer
{
	margin-bottom: -30px;
}
.ico a
{
	color: black;
	text-decoration: none;
	transition: color 0.27s;
}
.ico a:hover
{
	color: #33B5F4;
	transition: color 0.27s;
}

.foot-cont
{
	padding-top: 2px;
	text-align: center;
	background-color: #ffbf00;
	padding: 10px;
	color: #fff;
}
.foot-cont a
{
	color: #fff;
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
}
.foot-cont h5
{
	font-weight: bolder;
	padding-top: 10px;
}
.foot-cont a:hover
{
	text-decoration: none;
	color: #33B5F4;
	font-weight:bolder;
}
.nbico{
	padding-left: 10px;
	font-size: 1.2em;
}


/*foot ico*/
.ico-cont
{
	padding: 10px;
	background: #fff;
	text-align: center;
}
.ico
{
	font-size: 2em;
}


@media only screen and (max-width: 720px) {
	.footcont i
	{
		font-size: 1em;
	}
	.foot-cont h5
	{
		font-size: 1em;
	}
}